.barreMenu {
  background-color: red;
  overflow: hidden;
}

.barreMenu a {
  float: left;
  font-size: 16px;
  color: light blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pageDeGarde {
  float: left;
  overflow: hidden;
}

.pageDeGarde:hover {
  background-color: blue;
}
